.footer-box {
    background-color: #F7F7F7;
}

.footer-top {
    width: 100%;
    max-height: 60%;
    display: flex;
    justify-content: start;
    column-gap: 12rem;
    row-gap: 2rem;
    padding: 1.5rem 0;
    flex-wrap: wrap;
}

.footer-link {
    color: #727272;
    font-size: .88rem;
} 

.footer-bottom {
    border-top: 1px solid lightgrey;
    padding: 1rem;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left p,
.footer-left a {
    color: #727272;
    font-size: .92rem;
}

.footer-left p a:hover {
    text-decoration: underline;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-right img {
    height: 18px;
}

.footer-right > span {
    font-size: .88rem;
    font-weight: 600;
    cursor: pointer;
}

.footer-right > span:hover {
    text-decoration: underline;
}

.footer-right > p {
    font-weight: 600;
}

.footer-right > p:hover {
    text-decoration: underline;
}


@media (max-width: 750px) {
    .footer-bottom{
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media (max-width: 435px) {
    .footer-link {
        color: #727272;
        font-size: .78rem;
    } 
}